.App {
  font-family: sans-serif;
  text-align: center;
}
h5 {
  font-weight: bold;
  font-size: 25px;
}
.container {
  text-align: center;
  padding: 20px;
  margin: 30px;
  font-family: "Arimo", sans-serif;
  font-size: 20px;
  background: linear-gradient(
    218deg,
    rgb(241, 238, 169) 0%,
    rgb(69, 191, 248) 100%,
    rgb(197, 231, 248) 100%
  );
  border-radius: 10px;
  max-width: 70%;
}

.card {
  margin: 10px;
  background: #e3f6f5;
  border-radius: 10px;
}
.card-day {
  background: #e5f3f2;
}
.tex-lef {
  text-align: left;
}
.city,
.day,
.day-temp {
  font-weight: bold;
  font-size: 30px;
}
.country {
  font-size: 25px;
}
.icon-today {
  padding-top: 10px;
}
